.footer {
  padding: 3em 0;
  margin-top: 3em;
  text-align: center;
}

.footer__link {
  font-size: 0.1rem;
  font-weight: 50;
  color: var(--clr-fg);
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
